################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PosterBuilder/v15/.suo
/.vs/slnx.sqlite
/poster-builder/web/obj
/poster-builder/PosterBuilder/bin/Debug
/poster-builder/PosterBuilder/obj
/poster-builder/PosterDesigns/obj
