<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<section name="Placements" type="PosterBuilder.Helpers.XmlSerializerSectionHandler, PosterBuilder" />
	</configSections>

	<!--<Placements configSource="App_Data\placements.xml"></Placements>-->

	<system.web>
		<httpHandlers>
			<add verb="*" path="PosterHandler.ashx" type="web.PosterHandler, web" />			
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0"/>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	
</configuration>